<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}User Profile{% endblock %}

    {% block content %}
    <h1>User Profile</h1>
    <p>Welcome, {{ profile.username }}!</p>

    <h2>Your Orders</h2>
    <ul>
        {% for order in orders %}
            <li>
                <h3>Order #{{ order.id }}</h3>
                <p>Total Price: {{ order.total_price }}</p>
                <p>Date: {{ order.order_date }}</p>
                <p>Product: {{ order.product.name }}</p>
                <p>Quantity: {{ order.quantity }}</p>
                <!-- Demo: A03:2021 – Injection
                User input is not sanitized before being displayed
                This could lead to XSS attacks if the customer_request contains malicious scripts.
                Fix:
                <p>Customer Request: {{ order.customer_request }}</p>
                -->
                <p>Customer Request: {{ order.customer_request | safe }}</p>
            </li>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endblock %}
</body>
</html>